<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta name="author" content="Иван Дрямин">
		<meta name="description" content="page 2">
		<meta name="keywords" content="тест, проверка, html">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	<h1>Password generator</h1>
	<br>
	<select name='length'>
		<option value='4'>4</option>
		<option value='5'>5</option>
		<option value='6'>6</option>
		<option value='7'>7</option>
		<option value='8' selected = 'selected'>8</option>
		<option value='9'>9</option>
		<option value='10'>10</option>
		<option value='11'>11</option>
		<option value='12'>12</option>
		<option value='13'>13</option>
		<option value='14'>14</option>
		<option value='15'>15</option>
		<option value='16'>16</option>
		<option value='17'>17</option>
		<option value='18'>18</option>
		<option value='19'>19</option>
		<option value='20'>20</option>
		<option value='21'>21</option>
		<option value='22'>22</option>
		<option value='23'>23</option>
		<option value='24'>24</option>
		<option value='25'>25</option>
		<option value='26'>26</option>
		<option value='27'>27</option>
		<option value='28'>28</option>
		<option value='29'>29</option>
		<option value='30'>30</option>
		<option value='31'>31</option>
		<option value='32'>32</option>
	</select>
	<br>
	<input type='checkbox' name='uppercase'>uppercase
	<br>
	<input type='checkbox' name='number'>number
	<br>
	<input type='checkbox' name='special'>special
	<br>
	<input type='submit' value='generate password' onclick="location.href='index'">
	<br>
	<h2>Your password: {{ password }}</h2>
	<br>
	<button class="rounded-button" onclick="location.href='about';">Page about</button>
	<br>
</body>
</html>